/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Here in the css file you'll write your styling. make sure to link the css file to the html file. If it's linked correctly you should see a light blue background. */


.menu {
  padding-left: 5px;

  background-color: rgb(51, 218, 255, 0.5);
  margin: 0px;
  overflow: hidden;
  font-family: arial;
  font-style: bold;

}

.menu a {

  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
}


.header {
  
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 50%;
    border: 3px;
    border-style: solid;
    border-color: aqua;
    padding: 10px;
  text-align: center;
  font-family: arial;
  font-size: 30px;
  font-style: oblique;
}


.paragraph {
  
  margin: auto;
  max-width: 50%;
  border: 3px;
  padding: 30px;
background-color: rgb(51, 218, 255, 0.5);
text-align: center;
font-size: 15px;
font-family: arial;

}



.paragraph p{
  padding: 25px;
  font-size: 12px;
font-family: arial;

}

.paragraph img{
  padding: 20px;
 
width: 85%;

}

.columns{

  margin: auto;
  max-width: 50%;
  border: 20px;
  padding: 20px;
  text-align: center;

  display: flex;
  position: relative;
}



.image{
  background-color: rgb(51, 218, 255, 0.5);
  margin: 20px;
  flex: 33.33%;
  padding: 20px;
  object-fit: contain;
  text-align: center;
  max-width: 50%;
  

}

.columns .image .btn {
  bottom: 50%;
  left: 0%;
  position: relative;
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn:hover {
  background-color: black;
}
